{% extends 'base.html.twig' %}

{% block body %}
    <h1>Programas list</h1>

    <table>
        <thead>
            <tr>
                <th>Idprograma</th>
                <th>Nombreprograma</th>
                <th>Fechainicio</th>
                <th>Duracion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for programa in programas %}
            <tr>
                <td><a href="{{ path('programa_show', { 'idPrograma': programa.idPrograma }) }}">{{ programa.idPrograma }}</a></td>
                <td>{{ programa.nombrePrograma }}</td>
                <td>{% if programa.fechaInicio %}{{ programa.fechaInicio|date('Y-m-d') }}{% endif %}</td>
                <td>{{ programa.duracion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('programa_show', { 'idPrograma': programa.idPrograma }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('programa_edit', { 'idPrograma': programa.idPrograma }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('programa_new') }}">Create a new programa</a>
        </li>
    </ul>
{% endblock %}
