{% extends 'base.html.twig' %}

{% block body %}
    <h1>Programa</h1>

    <table>
        <tbody>
            <tr>
                <th>Idprograma</th>
                <td>{{ programa.idPrograma }}</td>
            </tr>
            <tr>
                <th>Nombreprograma</th>
                <td>{{ programa.nombrePrograma }}</td>
            </tr>
            <tr>
                <th>Fechainicio</th>
                <td>{% if programa.fechaInicio %}{{ programa.fechaInicio|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Duracion</th>
                <td>{{ programa.duracion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('programa_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('programa_edit', { 'idPrograma': programa.idPrograma }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
