{% extends 'base.html.twig' %}

{% block body %}
    <h1>Itempresupuestos list</h1>

    <table>
        <thead>
            <tr>
                <th>Iditem</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for itempresupuesto in itempresupuestos %}
            <tr>
                <td><a href="{{ path('itempresupuesto_show', { 'idItem': itempresupuesto.idItem }) }}">{{ itempresupuesto.idItem }}</a></td>
                <td>{{ itempresupuesto.cantidad }}</td>
                <td>{{ itempresupuesto.subtotal }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('itempresupuesto_show', { 'idItem': itempresupuesto.idItem }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('itempresupuesto_edit', { 'idItem': itempresupuesto.idItem }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('itempresupuesto_new') }}">Create a new itempresupuesto</a>
        </li>
    </ul>
{% endblock %}
