{% extends 'base.html.twig' %}

{% block body %}
    <h1>Itempresupuesto</h1>

    <table>
        <tbody>
            <tr>
                <th>Iditem</th>
                <td>{{ itempresupuesto.idItem }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ itempresupuesto.cantidad }}</td>
            </tr>
            <tr>
                <th>Subtotal</th>
                <td>{{ itempresupuesto.subtotal }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('itempresupuesto_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('itempresupuesto_edit', { 'idItem': itempresupuesto.idItem }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
