{% extends 'base.html.twig' %}

{% block body %}
    <h1>Presupuestos list</h1>

    <table>
        <thead>
            <tr>
                <th>Idpresupuesto</th>
                <th>Total</th>
                <th>Fechacreacion</th>
                <th>Estadopresupuesto</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for presupuesto in presupuestos %}
            <tr>
                <td><a href="{{ path('presupuesto_show', { 'idPresupuesto': presupuesto.idPresupuesto }) }}">{{ presupuesto.idPresupuesto }}</a></td>
                <td>{{ presupuesto.total }}</td>
                <td>{% if presupuesto.fechaCreacion %}{{ presupuesto.fechaCreacion|date('Y-m-d') }}{% endif %}</td>
                <td>{% if presupuesto.estadoPresupuesto %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('presupuesto_show', { 'idPresupuesto': presupuesto.idPresupuesto }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('presupuesto_edit', { 'idPresupuesto': presupuesto.idPresupuesto }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('presupuesto_new') }}">Create a new presupuesto</a>
        </li>
    </ul>
{% endblock %}
