{% extends 'base.html.twig' %}

{% block body %}
    <h1>Presupuesto</h1>

    <table>
        <tbody>
            <tr>
                <th>Idpresupuesto</th>
                <td>{{ presupuesto.idPresupuesto }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ presupuesto.total }}</td>
            </tr>
            <tr>
                <th>Fechacreacion</th>
                <td>{% if presupuesto.fechaCreacion %}{{ presupuesto.fechaCreacion|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Estadopresupuesto</th>
                <td>{% if presupuesto.estadoPresupuesto %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('presupuesto_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('presupuesto_edit', { 'idPresupuesto': presupuesto.idPresupuesto }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
