{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tallers list</h1>

    <table>
        <thead>
            <tr>
                <th>Idtaller</th>
                <th>Nombretaller</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for taller in tallers %}
            <tr>
                <td><a href="{{ path('taller_show', { 'idTaller': taller.idTaller }) }}">{{ taller.idTaller }}</a></td>
                <td>{{ taller.nombreTaller }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('taller_show', { 'idTaller': taller.idTaller }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('taller_edit', { 'idTaller': taller.idTaller }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('taller_new') }}">Create a new taller</a>
        </li>
    </ul>
{% endblock %}
