{% extends 'base.html.twig' %}

{% block body %}
    <h1>Taller</h1>

    <table>
        <tbody>
            <tr>
                <th>Idtaller</th>
                <td>{{ taller.idTaller }}</td>
            </tr>
            <tr>
                <th>Nombretaller</th>
                <td>{{ taller.nombreTaller }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('taller_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('taller_edit', { 'idTaller': taller.idTaller }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
