{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gastos list</h1>

    <table>
        <thead>
            <tr>
                <th>Idgasto</th>
                <th>Nombregasto</th>
                <th>Precio</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gasto in gastos %}
            <tr>
                <td><a href="{{ path('gastos_show', { 'idGasto': gasto.idGasto }) }}">{{ gasto.idGasto }}</a></td>
                <td>{{ gasto.nombreGasto }}</td>
                <td>{{ gasto.precio }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('gastos_show', { 'idGasto': gasto.idGasto }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('gastos_edit', { 'idGasto': gasto.idGasto }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('gastos_new') }}">Create a new gasto</a>
        </li>
    </ul>
{% endblock %}
