{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gasto</h1>

    <table>
        <tbody>
            <tr>
                <th>Idgasto</th>
                <td>{{ gasto.idGasto }}</td>
            </tr>
            <tr>
                <th>Nombregasto</th>
                <td>{{ gasto.nombreGasto }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ gasto.precio }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('gastos_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('gastos_edit', { 'idGasto': gasto.idGasto }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
